@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Wider;
  font-display: swap;
  src: url("../fonts/Wider.woff2") format("woff2"), url("../fonts/Wider.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.no-webp body {
  background: url("../images/1.jpg") 0 0 no-repeat; }

body {
  font-family: Roboto;
  background-color: aqua;
}

body span {
  color: brown;
}

@media (max-width: 768px) {
  span {
    font-size: 20px;
  }

  body {
    background-color: green;
  }
}

.webp body { background: url(../images/1.webp) 0 0 no-repeat; }